@import url(http://fonts.googleapis.com/css?family=Oswald:500,600,800,100,700,900,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,800,100,700,900,400,200,300);
@import url(https://fonts.googleapis.com/css?family=Playfair Display:400,500,600,700,800,900italic,700,900);

html {
  font-family: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
}

h1, h3, h4 {
  font-family: 'Playfair Display', serif;
  /*font-style: italic;*/
  line-height: 1.4em;
}

h2 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 2.7em;
  font-weight: 500;
}

h3 {
  font-size: 2.1em;
  font-weight: 700;
  margin-top: 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.7em;
  /*font-style: italic;*/
  /*color: #333;*/
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
  font-weight: 100;
  line-height: 0em;
}

hr {
  opacity: .5;
}

p, ul, tr {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  /*letter-spacing: 0.02em;*/
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.5em;
  /*padding: 0em .5em;*/
  -webkit-font-smoothing: antialiased;
  margin: 1em 0;
}

.small-text {
  /*aligning with arrows*/
  margin-top: 0.3em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 0.8em;
}

.teal-text {
  color: #008D86 !important;
}

.content ul li {
  list-style-type: disc;
  margin-left: 1em;
  margin-top:
}

.content ul {
  margin-top: -2em;
}

td {
  border: 1px solid #ddd;
  padding-left: 10px;
}

a {
  color: #008D86;
  font-weight: 600;
  line-height: 1em;
}

blockquote {
  margin-left: 1em;
  border-left: 5px solid #008D86;
}

.inline {
  display: inline !important;
  /*margin: 0 !important;*/
}

.bold {
  font-weight: 500 !important;
}

.wide-container {
    width: 75%;
    margin: 2.5em auto;
  }

#intro {
/*  background-image:
    linear-gradient(
      0deg, 
      #EEEEEE, rgba(255,255,255,0)
    );*/
  padding: 0.5em 0em 0em 0em;
  margin-bottom: 0;
}

.intro-header {
  margin: 2em auto 1em auto;
  text-align: center;
  width: 100%;
}

.intro-content {
  text-align: center;
  margin: 0 auto 2em auto;
  padding: 0 2em;
  /*padding: 2em;*/
  line-height: 1.4em;
  max-width: 600px;
  width: 100%;
  float: none;
  font-size: 1.1em;
}

.section-header {
  width: 100%;
  text-align: center;
  float: none;
  /*margin-bottom: 1.1em;*/
}

.section-header h2 {
  margin: 0.75em 0 0 0;
  padding-bottom: 0;
  line-height: 1em;
}

.section-header h5 {
  margin: 0.5em 0 1em 0;
  padding: 0;
  text-align: center;
  float: none;
  line-height: 1em;
}

/*.intro-icon {
  font-size: 3em;
  margin-left: 0.5em;
}*/

.nav-down-content {
  padding: 3em 0em 0em 0em;
  margin-bottom: 0;
}

.no-shadow {
  box-shadow: none;
}

#logo-container {
  font-family: 'Playfair Display', serif;
  font-size: 3.2em;
  font-weight: 800;
  /*border-bottom: 1px solid #CDCDCD;*/
  height: 2.2em;
  top: 0.5em;
  line-height: 0em;
}

  .sub-logo {
    line-height: 3.5em;
    font-size: 0.29em;
    margin-left: 1em;
  }

header {
  margin-top: 1.2em;
  margin-bottom: 3.5em;
}

nav .hide-on-med-and-down a {
  font-family:'Playfair Display', serif;
  font-weight: 800;
  /*letter-spacing: 0.02em;*/
  text-transform: lowercase;
  text-decoration: inherit;
  border-bottom: 1px solid #D2D2D2;
  line-height: 2.3em;
  margin-top: 0.9em;
}

nav .hide-on-med-and-down li {
  display: inline;
  list-style-type: none;
  padding-left: 3em;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  /*text-transform: uppercase;*/
}

nav ul a:hover {
  background-color: inherit;
}

nav .button-collapse i {
  padding-top: 0px;
  margin-top: -3px;
}

nav i.material-icons {
  font-size: 30px;
}

.nav-icon {
  margin: 0 3px;
  font-size: 2em;
  line-height: 0.8em;
}

.materialboxed.active {
  border: none !important;
}

#case-studies {
  /*height: 1000px;*/
    background-image:
    linear-gradient(
      200deg, 
      #D2D2D2, #EAEAEA 
    );
  /*background-color: #E6E6E6;*/
  /*padding: 0 0 2.5em 0;*/
  margin: 2.5em 0 0 0;
}

.case-container {
/*  background-image:
    linear-gradient(
      60deg, 
      #B3B3B3, #CCCCCC 
    );*/
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 !important;
  margin-bottom: 1em;
  line-height: 0;
}

.case-teaser {
  margin: 5% 0;
  padding: 4%;
}

.case-teaser p {
  padding: 0;
}

.case-image {
  padding: 0 !important;
  height: 100%;
  line-height: 0;
  background-size: cover;
  height: 300px;
}

.case-image img {
  margin: 0 !important;
  height: 100%;
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -2px;
  background: #333;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  left: 0;
  right: 0;
}

#home-content-text {
  padding: 0px 7em;
}

#about {
  background-image: linear-gradient(
      180deg, 
      #EEEEEE, #FFFFFF 
    )
}

/*#about .nav-icon {
  font-size: 1.3em;
}*/

.about-container {
  width: 75%;
  margin: 5em auto;
}

.about-icon {
  margin: 0 0 0 0.1em;
  text-align: center;
  /*display: inline;*/
}

.about-image {
  width: 85%;
  text-align: center;
  margin: auto;
}

.about-image img {
  width: 100%;
}

.side-nav {
  padding: 0;
  font-family: 'Raleway';
  font-size: 1em;
  text-transform: lowercase;
}

.side-nav .userView {
  border-bottom: #E6E6E6 2px solid;
}

.side-nav .userView .name {
  margin-top: 16px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 2.3em;
  line-height: 1.2em;
  text-transform: capitalize;
}

.side-nav .userView .nav-icon {
  font-size: 1.3em;
  margin: 0 0.25em;
}

.side-nav li > a > i {
  margin: 0;
}

/*Responsive video*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  /*overflow: hidden;*/
  margin-top: 3em;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content p img {
  padding: 1em .7em;
}

.content p img, .col img {
  /*width: 100%;*/
  /*padding: 2em .5em;*/
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/*.icon {
  width: 20%;
} */

/*.icon-label {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 1.2em;
  position: relative;
  margin: 0;
  top: -30px;
}*/

.home-icons {
  padding: 0 10em 2em 10em;
}

.home-icons .col {
  margin-bottom: 2em;
}

.home-icons img{
  width: 3.6em;
  margin: 0 auto 0 -1.8em;
}
.icon-container{
  width: 3.6em;
  margin-left: 50%;
}
/*-----------------------*/

/*.content {*/
  /*opacity: 0;*/
  /*transition: opacity .25s ease-in-out;*/
  /*-moz-transition: opacity .25s ease-in-out;*/
  /*-webkit-transition: opacity .25s ease-in-out;*/
/*}*/
/*
.content p {
  margin: 0 2em;
}*/

/*.flex {
  display: flex;
  flex-wrap: wrap;
}*/

.image-margin {
  margin: 1em 2em 3em 2em;
  /*padding-bottom: 2em;*/
  text-align: center;
}

.image-margin .video-container {
  margin: 2em auto;
  /*width: 70%;*/
}

.image-margin img {
  margin: 2em auto;
  width: 70%;
}

.image-margin h3, .image-margin h5 {
  width: 70%;
}

.article-title {
  margin-top: 3em;
  margin-bottom: 0.5em;
  /*margin-top: 1em;*/
  text-align: center;
}

.article-title h3{
  margin: 0 auto 0 auto;
  /*margin-bottom: 0;*/
  padding-left: 0.35em;
}

.article-title h5 {
  margin: 0.4em auto 1em auto;
/*  margin-top: 0.4em;
  margin-bottom: 0;*/
  padding-left: 0.5em;
  font-weight: 400;
}

.project-info-container {
  background-image: linear-gradient(
      220deg, 
      #E7E7E7, #ECECEC 
    );
  margin-bottom: 2em;
  padding: 2em 2em 0 !important;
  /*overflow: hidden;*/
/*  align-items: stretch;
  flex: 1;*/
  /*height: 100vh;*/
  /*float: right !important;*/
}

.project-sub .first {
  margin: 1em 0 0 0;
}

.project-info-container p {
  margin: 0 0 2em 0;
  padding: 0;
}

.project-sub {
  font-size: 1.5em;
  /*padding: 0 0.35em;*/
  margin: 0 0 0 0;
}

.project-sub-main {
  /*font-size: 1.5em;*/
  /*padding-left: 0.25em;*/
}

.project-desc {
  padding-left: 1em !important
}

.project-desc p {
  margin: 0 auto 1em auto;
  /*padding: 0 1em 0 0;*/
}

.project-desc p img {
  width: 95%;
  padding: 0;
  margin: 2em auto 2em 0;
  /*border: solid 0.5px #F1F1F1;*/
}

.project-desc .project-sub {
  margin: 1em auto;
}

.project-desc .video-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.carousel.carousel-slider {
  margin-bottom: 2em;
}

.carousel.carousel-slider .carousel-item img {
  cursor: default;
}

.carousel .indicators .indicator-item {
  background-color: rgba(0, 141, 134, 0.5);
}

/*#007670*/
.carousel .indicators .indicator-item.active {
  background-color: #008D86;
}

/*.other-images {
  padding: 0em 1em !important;
}

.other-images img {
  width: 100%;
  border: 1px solid #E6E6E6;
}*/

/*spacing between work thumbnails*/
.thumbnails {
  padding: 0em 0.3em !important;
  margin-bottom: 1em;
}

.thumbnails img {
  width: 100%;
}

.grid {
  width: 100%;
  margin: auto;
}

.grid:after {
  content: '';
}

.grid-sizer, .grid-item {
  /*width: 33.33%;*/
}

.grid-item {
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
  /*padding: 0 3px;*/
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  /*min-height: 100%;*/
  max-width: 100%;
  opacity: 1;
}

.grid figcaption {
  padding: 1em;
  color: #fff;
  font-family: raleway;
  font-weight: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figcaption::before, .grid figcaption::after {
  pointer-events: none;
}

.grid figcaption, .grid figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/*.grid h2 a {
  font-weight: 300;
  color: #333;
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 1em;
  display: inline-block;
}*/

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  /*background: #2f3238;*/
  margin: 0;
}

figure.effect-julia:hover {
  /*background: #2f3238;*/
/*  background-image:
    linear-gradient(
      45deg, 
      #4C4C4C, #191919
    );*/
  background-image:
    linear-gradient(
      45deg, 
      #007670, #191919
    );
}

figure.effect-julia img {
  border: solid 0.5px #F1F1F1;
  max-width: none;
  margin: 0;
  /*height: 400px;*/
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  margin: 0 auto;
  opacity: 0;
  position: relative;
  padding: 0;
  font-weight: 400;
  color: rgba(255,255,255,0.9);
  line-height: 1.1em;
}

figure.effect-julia p {
  display: inline-block;
  clear:both;
   float:left;
  margin: 0.25em 0 0.1em;
  padding: 0.4em 0.7em;
  background: rgba(255,255,255,0.9);
  color: #2f3238;
  /*color: white;*/
  text-transform: none;
  font-weight: 500;
  font-size: 95%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.35;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-julia:hover h2 {
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.copy {
  /*width: 80%;*/
  margin: auto;
  /*padding: 0em 3em;*/
  margin-bottom: 2em;
}

.copy p {
  font-size: .7em;
  color: #666666;
}

.copy .iconset {
  line-height: 1.7em;
  padding: 1em 1em;
  margin-top: 10px;
}

.copy .iconSet a {
  text-decoration: none;
  color: #333;
  margin: 5px 0px 0px 10px;
  float: right;
}

.about-profile-image img {
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
}


/*REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (min-width: 1025px) {
  .container {
    width: 65%;
    max-width: 1200px;
  }

  .image-margin img {
    max-width: 620px;
  }

   .work-container {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1024px) {
  .container{
    width: 90%;
  }

  .grid {
    width: 100%;
  }
/*  .grid-sizer, .grid-item {
    width: 50%;
  }*/

  .image-margin h3, .image-margin h5 {
    width: 80%;
  }
  #home-content-text {
    padding: 0px 1em;
  }
  .nav-down-content {
    padding: 0em;
  }
  #home-side-image {
    display: none;
  }
  .CodeMirror-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .intro-header {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 480px) {
  nav .brand-logo {
    left:55%;
  }
  .grid {
    width: 100%;
  }
  .grid-sizer, .grid-item {
    width: 100%;
  }

  figure.effect-julia h2 {
    font-size: 2.2em;
  }

  figure.effect-julia p {
    font-size: 0.75em;
  }

  #intro {
    padding-top: 1.5em;
  }

  .intro-header {
    margin: 0em;
  }

  .intro-content {
    font-size: 1em;
  }

  .case-image {
    height: 200px;
  }

  .case-image2 {
    height: 200px;
  }

  .case-image3 {
    height: 200px;
  }

  .project-desc p {
    padding: 0;
  }

  .article-title {
    margin-top: 1.5em;
  }

  .image-margin {
    margin: 1em 0 1.5em 0;
  }

  .image-margin img {
    width: 100%;
  }

  .image-margin h3{
    width: 95%;
    line-height: 1.25em;
    font-size: 1.8em;
    padding-left: 0;
  }

  .image-margin h5 {
    width: 95%;
    line-height: 1.25em;
    font-size: 1.1em;
    padding-left: 0;
  }

  .project-sub-main {
    padding-left: 0;
    font-size: 1.8em;
  }

  .content p img {
    padding: 0em;
  }
  .copy .copyright {
    text-align: center;
  }
  .copy .iconset {
    margin-left: -5px;
  }
  .copy .iconSet a {
    float: inherit;
  }
  .icon-container{
    width: 3em;
  }
  .home-icons img{
    width: 3em;
    margin: 0 auto 0 -1.5em;
  }
  .home-icons {
    padding: 0 5em;
  }
  #logo-container {
    font-size: 2.9em;
  }
  .sub-logo{
    line-height: 3.1em;
    font-size: 0.28em;
    margin-left: 0.75em;
  }
}