h2.intro-header What I Do
p.intro-content I work as an interaction designer, but have explored mysterious history boxes, the future of retail, and chat-based experiences.
p.intro-content I create human-centered experiences through

